
 span.hidden { 
    font-family: pixellari, sans-serif;
    opacity: 0;
    font-size: 0;
 }
 span {
    font-family: pixellari, sans-serif;
 }
 .flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 html, body {
    height: 100%;
    background-color: #211f2f;
    margin:0;
    padding:0;
    overflow: hidden;
    color: white;
 }
