<script>window.userToken = "<%= assigns[:user_token] %>";</script>
<div class="flex-container">
   <div id="game"></div>
</div>
<span class="hidden">sample text</span>
<div>
   Score: <span id="score">0</span>
</div>
<div id="others">
   
</div>
